<a href="https://colab.research.google.com/github/tanisha00999/MainFlowServices/blob/main/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Load the CSV file into a DataFrame
df = pd.read_csv('/content/weekday.csv')

In [2]:
filtered_df = df[df['Numeric'] > 3]
print(filtered_df)

       Name Abbreviation  Numeric  Numeric-2
3  Thursday         Thu.        4          4
4    Friday         Fri.        5          5
5  Saturday         Sat.        6          6
6    Sunday         Sun.        7          7

In [3]:
# Check for missing values
missing_values = df.isnull().sum()
print("Missing values in each column:\n", missing_values)

# Fill missing values with 0
df_filled = df.fillna(0)
print(df_filled)

Missing values in each column:
 Name            0
Abbreviation    0
Numeric         0
Numeric-2       0
dtype: int64
        Name Abbreviation  Numeric  Numeric-2
0     Monday         Mon.        1          1
1    Tuesday         Tue.        2          2
2  Wednesday         Wed.        3          3
3   Thursday         Thu.        4          4
4     Friday         Fri.        5          5
5   Saturday         Sat.        6          6
6     Sunday         Sun.        7          7

In [4]:
summary_stats = df.describe()
print(summary_stats)

        Numeric  Numeric-2
count  7.000000   7.000000
mean   4.000000   4.000000
std    2.160247   2.160247
min    1.000000   1.000000
25%    2.500000   2.500000
50%    4.000000   4.000000
75%    5.500000   5.500000
max    7.000000   7.000000